node_modules
package-lock.json
.vscode
.idea
lerna-debug.log

commands/**/node_modules
core/**/node_modules
models/**/node_modules
utils/**/node_modules

#commands/**/package-lock.json
#core/**/package-lock.json
#models/**/package-lock.json
#utils/**/package-lock.json